    </div>
    <div class="footer">
        <div class="container">
            <ul class="list-inline">
            <li class="footer-inverse"><a href="https://github.com/rodrigomrxvi"><i class="fa fa-github-alt fa-2x"></i></a></li>
            <li class="footer-inverse"><a href="https://www.researchgate.net/profile/Rodrigo-Mendez-Rojano"><i class="fab fa-researchgate"></i></a></li>
            <li class="footer-inverse"><a href="https://scholar.google.com.mx/citations?user=ZvisawoAAAAJ&hl=fr"><i class="fab fa-google"></i></a></li>
            <li class="footer-inverse"><a href="mailto:fsae.unam.rodrigo@gmail.com"><i class="fa fa-envelope fa-2x"></i></a></li>
            <li class="footer-inverse"><a href="https://linkedin.com/in/rodrigo-mendez-rojano-/"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
            </ul>
        </div>
    </div>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
